.about__container {
  display: flex;
  justify-content: center;
  padding: 27% 10% 35% 10%;
}

.about__left {
  width: 100%;
}

.about {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  &__welcome,
  &__desc {
    opacity: 0.5;
  }
  &__username {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    padding: 35px 0;
  }
  &__ps {
    opacity: 0.5;
    font-style: italic;
    padding-top: 85px;
  }
}
