.btn-modal {
  width: 347px;
  height: 80px;
  border-radius: 40px 5px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #ad00ed 0%, #5500f2 100%);
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
