.content_main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7%;
  position: relative;
}

.main_title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
  color: #414c63;
  font-family: 'Open Sans';
  font-size: 72px;
  font-weight: 800;
  line-height: 60px;

  &-desc {
    opacity: 0.4;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
  }
}
