.copyright__year {
  opacity: 0.1;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 31px;
}

.copyright__username {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.copyright__desc {
  opacity: 0.15;
  font-size: 16px;
  font-weight: 400;
}
