.menu_header {
  flex: 3;
}

.list_menu {
  display: flex;
  flex-direction: row;
  color: #414c63;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.item_menu {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}
