.scroll-down-button {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  
}

.scroll-down-button__icon {
    width: 30px;
    margin-bottom: -10px;
    fill: #414c63;
}