.scroll-down-button {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: #414c63;
}

.scroll-down-button__icon {
  width: 30px;
  margin-bottom: -10px;
  fill: #414c63;
}
