.skills-row__title {
  margin-bottom: 50px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}

.skills-row__item {
  position: relative;  
  margin-right: 40px;
}

.skills-row__list {
  display: flex;
  justify-content: space-around;
}
