.triangles {
  position: relative;
  height: 80px;
  margin-top: -80px;
  &__bottom {
    margin-bottom: -80px;
    @include phones {
      margin-bottom: -20px;
    }
  }

  @include phones {
    height: 20px;
    margin-top: -20px;
  }
}

.triangles__item {
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  fill: #fff;
  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
