.user__avatar {
  width: 200px;

  &-pic {
    border-radius: 50%;
  }
}

.user__data {
  padding-top: 80px;
  
  &-cell {
    padding-right: 80px;
    opacity: 0.3;
    &:last-child {
      padding: 0;
      opacity: 1;
    }
  }
}