.user-info {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;

  &__content {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  &__desc {
    opacity: 0.4;
  }

  &__name {
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
  }
}
