.values {
}

.values__container {
  position: relative;
  padding-top: 10%;
}

.values__title {
  padding: 0 25% 0 25%;
}

.values__title-text {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
}
.values__desc {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 50px;
}

.values__bg-skills {
  display: flex;
}

.values__bg {
  height: 100%;
  margin: -7% -11% 0 -19%;
}

.values__widget {
  display: flex;
  justify-content: center;
  flex: 1;
}
