.values {
  padding: 13% 0;
}

.values__container {
  position: relative;
}

.values__title {
  padding: 0 20% 0 30%;
}

.values__title-text {
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 700;
}
.values__desc {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 96px;
}

.values__bg-img {
  position: absolute;
  left: -240px;
  top: 130px;
}
