.welcome-section {
  position: relative;
  clip-path: polygon(0 0, 0 95%, 50% 100%, 100% 95%, 100% 0);

  @include tablets {
    background: url("../images/content/MountainBaloon.jpg") center center /
      cover no-repeat;
  }
}
