.work {
  padding: 5% 0 13% 3%;
}

.work__title {
  margin-bottom: 61px;
}

.work__content {
  display: flex;
}

.work__num {
  color: #f0f0f0;
  font-size: 300px;
  font-weight: 800;
  margin-top: -100px;
  margin-left: -50px;
}

.work__content-text {
  width: 30%;
}
