.header {
  color: #fff;
  background-image: linear-gradient(to right, #3e3e59 0%, #454573 100%);
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }
  &__title {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
  }
}
