script(type="text/x-template")#reviews
    .container
        .reviews__title
            .section-title Что обо мне говорят
            .reviews__slider
                a.reviews__slider-btn.reviews__slider-btn_prev(@click="slide('prev')")
                    +icon(`arrow-down`,'reviews__slider-icon')
                a.reviews__slider-btn.reviews__slider-btn_next(@click="slide('next')")
                    +icon(`arrow-down`,'reviews__slider-icon')
        .reviews__slider-content
            ul.reviews__slider-list(ref="reviews-slider")
                li.reviews__slider-item(v-for="review in reviews")
                    .quote__icon
                        +icon(`quote`, 'quote__icon-pic')
                    .quote__content
                        article.quote__text {{ review.text }}
                        .quote__author
                            .user.user--horizontal
                                .user__avatar
                                    img(src="/" alt="").user__avatar-pic
                                .user__data
                                    .user__name {{review['author-name']}}
                                    .user__occ {{review['author-occ']}}