script(type="text/x-template")#skills-list
    .values__widget-container
        ul.user-skills
            li.user-skills__item(v-for="skill in skills" :key="skill.skillsGroup")
                skills-row(
                    :skill="skill"
                )
          
script(type="text/x-template")#skills-row
    .skills-row
        h3.skills-row__title {{skill.skillsGroup}}
        ul.skills-row__list
            li.skills-row__item(v-for="(skillPercent, skillName) in skill.skills")
                skill(
                    :skillName="skillName"
                    :skillPercent="skillPercent"
                )
           
script(type="text/x-template")#skill
    .skill
        svg(viewbox="0 0 100 100" preserveAspectRatio="none").skill__shape
            circle(r="65" cx="80" cy="80").skill__circle.skill__circle-under
            circle(r="65" cx="80" cy="80" ref="color-circle" stroke="url(#gradient)" transform="rotate(-180 80 80)").skill__circle.skill__circle-above
            linearGradient(id="gradient" x1='0', y1='0', x2='0', y2='100%')
                stop(offset='0%', stop-color='#5500f2')
                stop(offset='100%', stop-color='#8f00ef')
        .skill__title {{skillName}}